@import "./utilis/mixins";
@import "./utilis/colors";

.allergy-selection__outer-container {
    @include outer-container;
    @include glass;
}
.allergy-selection__inner-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    overflow: hidden;
}
.allergy-selection__allergy-button {
    white-space: pre-line;
    background-color: $color-white;
    width: 20%;
    min-width: 200px;
    min-height: calc(2.4em + 20px);
    padding: 10px 5px;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    .icon-container {
        width: 2em;
    }
    &:hover {
        background-color: lighten($color-white, 20%);
        transition-duration: 0.3s;
    }
    &--active {
        background-color: $color-red;
        &:hover {
            background-color: lighten($color-red, 20%);
        }
    }
}