.allergies-selection__outer-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.allergies-selection__inner-container {
    background-color: #D1E2CA;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 40px;
    border: 10px solid #F5F5F5;
    overflow: hidden;
}
.allergie-selection__allergy-button {
    white-space: pre-line;
    background-color: #D1E2CA;
    width: 25%;
    min-height: calc(2.4em + 20px);
    padding: 10px 0;
    border: none;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    & * {
        font-size: 18px;
    }
    &:hover {
        background-color: darken(#D1E2CA, 5%);
        transition-duration: 0.3s;
    }
    .icon-container {
        width: 2em;
    }
}