@import "./utilis/mixins";
@import "./utilis/colors";

.cuisine-type__outer-container {
    @include glass;
    @include outer-container;
}
.cuisine-type__inner-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 30px;
    overflow: hidden;
}
.cuisine-type__option {
    &:nth-of-type(1) {
        width: 40%;
        min-width: 300px;
        span {
            font-size: 1.2em;
        }
    }
    white-space: pre-line;
    background-color: $color-white;
    width: 20%;
    min-width: 150px;
    min-height: calc(2.4em + 20px);
    padding: 10px 5px;
    border: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    &:hover {
        background-color: lighten($color-white, 20%);
        transition-duration: 0.3s;
    }
    &--active {
        background-color: $color-red;
        &:hover {
            background-color: lighten($color-red, 20%);
        }
    }
}