@import "./utilis/_colors";
@import "./utilis/mixins";

.ingredients-selection__outer-container {
    @include glass;
    @include outer-container;
}
.ingredients-selection__inner-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    // overflow: hidden;
    @media (max-width: 800px) {
        flex-direction: column;
        gap: 10px;
    }
}
.ingredients-selection__list {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    @media (max-width: 800px) {
        font-size: 0.8em;
        width: 100%;
    }
    h2 {
        text-align: center;
        color: #F5F5F5;
        font-size: 20px;
        font-weight: 600;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 8px;

    }
    button {
        border: none;
        border-radius: 15px;
        padding: 10px 20px;
        cursor: pointer;
        transition-duration: 0.3s;
        
    }
    &--included {
        button {
            background-color: $color-green;
            &:hover {
                background-color: lighten($color-green, 20%);
            }
        }
    }
    &--excluded {
        button {
            background-color: $color-red;
            &:hover {
                background-color: lighten($color-red, 20%);
            }
        }
    }
}
.ingredients-selection__nav-buttons {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: calc(50% - 300px);
    @media (max-width: 800px) {
        gap: calc(50% - 135px);
    }
    button {
        @include glass;
        box-shadow: 10px 10px 35px 0px #000000;
        border: none;
        border-radius: 15px;
        padding: 15px 10px;
        cursor: pointer;
        transition-duration: 0.3s;
        &:hover {
            background-color: $color-green;
        }
    }
}