@import "./utilis/mixins";
@import "./utilis/colors";

.is-vegan__outer-container {
    @include outer-container;
    @include glass;
}
.is-vegan__inner-container {
    position: relative;
    width: 100%;
    display: flex;
    border-radius: 40px;
    overflow: hidden;
    .is-vegan__option {
        background-color: transparent;
        padding: 5px;
        border: none;
        cursor: pointer;
        z-index: 1;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: $color-white;
            border-radius: 10px;
        }
    }
    .is-vegan__icon-container {
        margin: 5px 0;
        z-index: 1;
        width: 33%;
        max-width: 100px;
    }
    .is-vegan__overlay {
        background-color: #ff000044;
        position: absolute;
        border-radius: 10px;
        width: 25%;
        height: 100%;
        transition-duration: 0.3s;
    }
}