@import "./utilis/colors";

@keyframes loading-appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes loading-move {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(30px, 0);
    }
}
@keyframes loading-disappear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
.loading__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading__element {
    position: relative;
    width: 80px;
    height: 40px;
    & > div {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #00000088;
        position: absolute;
        top: 10px;
        left: 0;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
        &:nth-child(1) {
            animation: loading-appear 1s infinite;
        }
        &:nth-child(2) {
            animation: loading-move 1s infinite;
        }
        &:nth-child(3) {
            left: 30px;
            animation: loading-move 1s infinite;
        }
        &:nth-child(4) {
            left: 60px;
            animation: loading-disappear 1s infinite;
        }
    }
}
