@import "./utilis/colors";

.post-query-view {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
    background-color: #33333388;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../images/foodie2.jpg);
        background-size: cover;
        background-position: center;
        filter: blur(3px);
        z-index: -1;
    }
}
