@import "./utilis/colors";
@import "./utilis/mixins";

.pre-query-view {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
    &__nav-buttons {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav-button {
        @include glass;
        box-shadow: 10px 10px 35px 0px #000000;
        border: none;
        border-radius: 15px;
        padding: 15px 10px;
        cursor: pointer;
        transition-duration: 0.3s;
        &:hover {
            background-color: $color-green;
        }
    }
}
