@import "./utilis/colors";

.query-creator {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 20px;
    background-color: #33333388;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../images/foodie2.jpg);
        background-size: cover;
        background-position: center;
        filter: blur(3px);
        z-index: -1;
    }
    &__nav-buttons {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav-button {
        background-color: $color-blue;
        border: 5px solid $color-white;
        border-radius: 20px;
        padding: 5px 10px;
        cursor: pointer;
        transition-duration: 0.3s;
        &:hover {
            background-color: darken($color-blue, 5%);
        }
    }
}