@import "./utilis/colors";

.recipe-preview {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    & > div {
        padding: 0 15px;
        width: 33.3%;
    }
    @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        & > div {
            padding: 0 15px;
            width: 100%;
        }
    }
}
.recipe-preview__column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &--first {
        align-items: center;
        p {
            text-align: center;
        }
        .recipe-preview__title {
            font-size: 1.2em;
            min-height: 2.4em;
            @media(max-width: 800px) {
                min-height: 0;
            }
        }
    }
    &--second {
        align-items: center;
        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1px;
        }
    }
    &--third {
        align-items: center;
        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1px;
        }
        align-items: center;
    }
}
.recipe-preview__image-container {
    width: 80%;
    border-radius: 15px;
    overflow: hidden;
    img {
        width: 100%;
    }
    @media (max-width: 800px) {
        width: 60%;
    }
}
.recipe-preview__time-and-portions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.recipe-preview__time,
.recipe-preview__portions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    .icon-container {
        width: 30%;
        min-width: 30px;
    }
}
.recipe-preview__macro-graph {
    width: 80%;
    height: 25px;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    transition-duration: 0.3s;
    &--carbs {
        background-color: #415bec77;
        flex-grow: 1;
        transition-duration: 0.3s;
    }
    &--fat {
        background-color: #e7e71477;
        transition-duration: 0.3s;
    }
    &--protein {
        background-color: #e6000088;
        transition-duration: 0.3s;
    }
}
.recipes-preview__show-more-button {
    border: none;
    cursor: pointer;
    align-self: flex-end;
    transition-duration: 0.3s;
    border-radius: 15px;
    padding: 10px 20px;
    &:hover {
        background-color: $color-blue;
    }
}
