@import "./utilis/colors";

.recipe-preview {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    & > div {
        padding: 0 15px;
        width: 33.3%;
    }
}
.recipe-preview__column {
    display: flex;
    flex-direction: column;
    gap: 8px;
    &--first {
        align-items: center;
        h2 {
            text-align: center;
        }
    }
    &--second {
        ul {
            display: flex;
            flex-direction: column;
            gap: 1px;
        }
    }
    &--third {
        align-items: center;
        ul {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1px;
        }
    }
}
.recipe-preview__image-container {
    width: 80%;
    border-radius: 15px;
    overflow: hidden;
    img {
        width: 100%;
    }
}
.recipe-preview__time-and-portions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.recipe-preview__time, .recipe-preview__portions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    .icon-container {
        width: 40%;
        // max-width: 120px;
    }
}
.recipe-preview__macro-graph {
    width: 80%;
    height: 25px;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    transition-duration: 0.3s;
    &--carbs {
        background-color: #415bec77;
        flex-grow: 1;
        transition-duration: 0.3s;
    }
    &--fat {
        background-color: #e7e71477;
        transition-duration: 0.3s;
    }
    &--protein {
        background-color: #e6000088;
        transition-duration: 0.3s;
    }
}
