@import "./utilis/mixins";
@import "./utilis/colors";

.recipes-select__outer-container {
    @include glass;
    @include outer-container;
    justify-content: space-between;
    overflow: hidden;
    min-height: 80vh;
}
.recipes-select__buttons-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    @media (max-width: 800px) {
        flex-wrap: wrap;
        justify-content: center;
    }
    .recipes-select__buttons-center {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}
.recipes-select__button {
    border: none;
    width: 150px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    cursor: pointer;
    background-color: $color-white;
    transition-duration: 0.3s;
    &:hover {
        background-color: lighten($color-white, 20%);
    }
    .icon-container {
        width: 25px;
    }
    @media (max-width: 800px) {
        width: 120px;
        padding: 12px 5px;
    }
    @media (max-width: 400px) {
        width: 100px;
        padding: 10px 5px;
    }
}
