@import "./utilis/mixins";
@import "./utilis/colors";

.single-recipes-select__outer-container {
    @include glass;
    @include outer-container;
}
.single-recipes-select__buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.single-recipes-select__button {
    border: none;
    width: 150px;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 15px;
    cursor: pointer;
    background-color: $color-white;
    &:hover {
        background-color: lighten($color-white, 20%);
    }
    .icon-container {
        width: 25%;
    }
}
